:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}




.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  color: rgba(240, 240, 208, 0.87)
}

.buttons {
  display: flex;
  gap: 40px;

}

.moonIcon {
  width: 30px;
  height: 30px;
  background-image: url(/src/assets/moon-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.marsIcon {
  width: 30px;
  height: 30px;
  background-image: url(/src/assets/mars-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.moonButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 300px;
  border-radius: 40px;
  height: 50px;
  /*background-image: linear-gradient(to right, #add8e6, #28284f);*/
  padding: 5px 20px;
  color: #f0e1c5;
  background: rgba(200, 116, 222, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(227, 213, 98, 1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.moonButton:hover {
  background-image: linear-gradient(to right, #d1b3f3, #220440);
  transform: scale(1.05);
  color: #f7f8e9;
}



.marsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border-radius: 40px;
  height: 50px;
  width: 300px;
  /* background-image: linear-gradient(to right, #c37783, #371936);*/

  padding: 5px 20px;
  color: #f0e1c5;
  background: rgba(241, 114, 114, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(231, 95, 95, 1);
  cursor: pointer;
  transition: all 0.3s ease;

}

.marsButton:hover {
  background-image: linear-gradient(to right, #d1b3f3, #220440);
  transform: scale(1.05);
  color: #e9ecc3;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.moonButton:hover .moonIcon,
.marsButton:hover .marsIcon {
  animation: rotate 2s linear infinite;
}

.mars {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(/src/assets/mars.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.moon {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(/src/assets/moon.png);
  background-size: cover;
  background-repeat: no-repeat;
}


.mars-form {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moon-form {

  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}